#!/bin/sh

# Git stuff
cd ..
GIT_DIR='.git'
umask 002 && git reset --hard

# Environment variables
export ENVIRONMENT="production"
export NICKSERV_PASSWORD=""
export WHATCD_USERNAME=""
export WHATCD_PASSWORD=""

# Cinch stuff
rake run:stop
bundle install --deployment
rake run:production